/* General layout */

.container {
    display: grid;
    grid-template-areas:
        ". title ."
        "voice-control voice-control voice-control"
        ". clock pitch"
        ". time ."
        ". error ."
        ". random-time .";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 4em;
}

.title {
    grid-area: title;
}

.voice-control {
    grid-area: voice-control;
}

.time {
    grid-area: time;
}

.error {
    grid-area: error;
    color: red;
}

.random-time {
    grid-area: random-time;
}

.clock {
    grid-area: clock;
    min-height: 20em;
}

.pitch {
    grid-area: pitch;
}

/* Pitch Volume Rate controls */

.voice-control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
