/* General layout */

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin: 1em;
}

.title {
    justify-self: center;
}

.voice-selection {
    justify-self: center;
}

.time {
    justify-self: center;
}

.error {
    justify-self: center;
    color: red;
}

.buttons {
    justify-self: center;
}

.clock {
    justify-self: center;
    width: 20em;
}

/* String left to read */

.already-read {
    color: black;
}

.left-to-read {
    color: green;
}

/* Voice Selection */

.voice-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.voice-selection p:nth-child(3n) {
    justify-self: right;
}

.voice-selection p:nth-child(2n) {
    justify-self: center;
}
